
autoSchedule/autoSchedule/__pycache__/

autoSchedule/static/admin/js/

autoSchedule/static/easy_select2/vendor/select2/css/

autoSchedule/static/easy_select2/vendor/select2/js/i18n/

autoSchedule/static/css/

autoSchedule/static/

autoSchedule/autoSchedule/scripts/fonts/

*.pyc

material-kit-html-v2\.0\.4/assets/scss/material-kit/
