
label {
    margin: 10;
}

.row div {
    display: inline;
}

.row div * {
    padding: 0px;
    margin-top: 10px;
}

input[type="submit"] {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.delete-row {
    margin-top: 22px;
    margin-left: 10px;
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    background-repeat: repeat-x;
    border-color: #b92c28;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    color: #ffffff;
    background-color: #d9534f;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

.delete-row:hover {
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    text-decoration: none;
    color: #ffffff;
}


.add-row {
    margin-left: 40px;
    margin-top: 22px;
}
