{% include "generic/header.html" with active="welcome" %}

<div class="jumbotron">
    <h3>Auto Scheduler !</h3>

    <form method="post" class="form">
        {% csrf_token %}
        
        <div class="form-group bmd-form-group">
            <h4>Session :</h4>
            <label for="session_range" class="bmd-label-floating">Range:</label>
            {{sessionform.session_range}} 
        </div>
        
        <div class="form-group">
            <h4>Tasks :</h4>
            A task is something a worker can do.
            A task must have:
            <ul class="mdc-list" aria-orientation="vertical">
                <li class="mdc-list-item">
                    A name
                </li>
                <li class="mdc-list-item">
                    A number of people required to achieve the task
                </li>
                <li class="mdc-list-item">
                    The start time during the day, when the task has to began
                </li>
                <li class="mdc-list-item">
                    The duration of the task
                </li>
                <li class="mdc-list-item">
                    If the task is repetitive each days
                </li>
            </ul>
            <p>
            Example: The <strong>Dishwashing</strong> need <strong>2 people</strong> <strong>at 1pm</strong> during <strong>30 min</strong> <strong>each days</strong>.
            </p>
        </div>

        {{ taskFormSet.management_form }}
        {% for tf in taskFormSet %}
        <div class="taskFormSet">
            <div class="col-md-2">
                <label for="task_type">Name of task:</label> 
                {{tf.task_type}} 
            </div>
            <div class="col-md-3" >
                <label for="nb_workers">Number of people needed:</label>
                {{tf.nb_workers}} 
            </div>
            <div class="col-md-2">
                <label for="start">Start:</label>
                {{tf.start}}    
            </div>
            <div class="col-md-2">
                <label for="duration">Duration:</label>
                {{tf.duration}} 
            </div>
            <div class="col-md-2">
                <label for="each_days">Each days:</label>
                {{tf.each_days}} 
            </div>
        </div>
        {% endfor %}

        <h4>Workers :</h4>
        {{ workerFormSet.management_form }}
        {% for wf in workerFormSet %}
        <div class="workerFormSet">
            <div class="col-md-2">
                <label for="task_type">Name :</label> 
                {{ wf.name }}
            </div>
        </div>
        {% endfor %}
        
        <div class="text-center">
            <input type="submit" value="Valider" class="btn btn-success"/>
        </div>
        
    </form>

</div>
{% load static %}

<script src="{% static "jquery.formset.js" %}"></script>
<script>   
/*
   
        $("#id_session-session_range").daterangepicker({
            "showDropdowns": true, "minYear": 2017,
            "locale": {
                "format": "DD/MM/YYYY", "separator": " - ",
                "applyLabel": "Apply", "cancelLabel": "Cancel",
                "fromLabel": "From", "toLabel": "To",
                "customRangeLabel": "Custom", "weekLabel": "W",
                "daysOfWeek": [ "Su","Mo", "Tu", "We","Th", "Fr", "Sa" ],
                "monthNames": [ "January", "February", "March", "April","May","June", "July", "August", "September", "October", "November", "December"],
                "firstDay": 1
            }
        });

        $("#id_task-0-start").datepicker({});
        $("#id_task-0-duration").durationPicker({
        });
*/ $(function() {
        $('.taskFormSet').formset({
            prefix: '{{ taskFormSet.prefix }}',
            formCssClass: 'dynamic-taskFormSet',           
            deleteCssClass: 'delete-row',
            deleteText: 'Remove',
            addCssClass: 'add-row btn btn-success',
            addText: 'Add'
        });
        $('.workerFormSet').formset({
            prefix: '{{ workerFormSet.prefix }}',
            formCssClass: 'dynamic-taskFormSet',         
            deleteCssClass: 'delete-row',
            deleteText: 'Remove',
            addCssClass: 'add-row btn btn-success',
            addText: 'Add'
        });
    });
    
</script>

{% include "generic/footer.html" %}