{% include "generic/header2.html" %}

{% load static %}

<body class="index-page sidebar-collapse">
  <nav class="navbar navbar-transparent fixed-top" color-on-scroll="100" id="sectionsNav">
  </nav>
  <div class="header-filter clear-filter purple-filter" data-parallax="true" style="background-image: {% static './assets/img/bg2.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-md-9 ml-auto mr-auto">
          <div class="brand">
            <h1>Auto Scheduler</h1>
            <div class="space-50"></div>
          </div>
          <div class="space-50"></div>
        </div>        
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="section section-basic">
      <div class="container">
        <div class="title">
          <h2>Basic Elements</h2>
        </div>
        
        <form method="post" class="form">
            {% csrf_token %}
            <h3>Session :</h3>
            <div class="form-group bmd-form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="material-icons">date_range</i>
                        </span>
                    </div>
                    {{sessionform.session_range}} 
                </div>
            </div>

            <h3>Tasks :</h3>
            <div>
                A task is something a worker can do.
                A task must have:
                <ul class="mdc-list" aria-orientation="vertical">
                    <li class="mdc-list-item">
                        A name
                    </li>
                    <li class="mdc-list-item">
                         A number of people required to achieve the task
                    </li>
                    <li class="mdc-list-item">
                        The start time during the day, when the task has to began
                    </li>
                    <li class="mdc-list-item">
                        The duration of the task
                    </li>
                    <li class="mdc-list-item">
                        If the task is repetitive each days
                    </li>
                </ul>
                <h4>Example: 
                    The <strong>Dishwashing</strong> need <strong>2 people</strong> 
                    <strong>Monday at 1pm</strong> during <strong>30 min</strong> <strong>each days</strong>.</h4>
            </div>
        
            {{ taskFormSet.management_form }}
            {% for tf in taskFormSet %}

            <div class="taskFormSet form-group bmd-form-group row">
                <div class="input-group col-md-2">
                    {{tf.task_type}} 
                </div>
                <div class="input-group col-md-2">
                    <div class="input-group-prepend ">
                        <span class="input-group-text lt-padding">
                            <i class="material-icons">group</i>
                        </span>
                    </div>
                    {{tf.nb_workers}} 
                </div>
                <div class="input-group col-md-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text lt-padding">
                            <i class="material-icons">date_range</i>
                        </span>
                    </div>
                    {{tf.start}} 
                </div>
                <div class="input-group col-md-2 no-padding">
                    <div class="input-group-prepend">
                        <span class="input-group-text lt-padding">
                            <i class="material-icons">update</i>
                        </span>
                    </div>
                    {{tf.duration}} 
                </div>
                <div class="input-group col-md-3 no-padding">
                  <div class="togglebutton">
                    <label>
                      {{tf.each_days}} 
                      <span class="toggle"></span>
                      Each days
                    </label>
                  </div>
                </div>
            </div>
            {% endfor %}
        
                <h4>Workers :</h4>
                {{ workerFormSet.management_form }}
                {% for wf in workerFormSet %}
                <div class="workerFormSet form-group bmd-form-group row">
                    <div class="input-group col-md-2">
                        {{ wf.name }}
                    </div>
                </div>
                {% endfor %}

                <div class="text-center">
                  <button class="btn btn-success waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </div>
            </form>
      </div>
    </div>

  </div>
  {% include "generic/footer2.html" %}
</body>

</html>