<script>
    var nb_pref = 0;

    function updateTextPref(id, text) {
        $(".preferences").find("." + id.toString()).text(text);
    }

    function updateDatepickers(row) {
        nb_pref += 1;
        $(".date_time").bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', weekStart : 1 });
        $('.time').bootstrapMaterialDatePicker({date: false, format : 'HH:mm' });
        $(".preferences").append("<li class=\"btn btn-info " + nb_pref.toString() + "\">_</li>")
        row.addClass(nb_pref.toString());
            
        var input_type = row.find(".task_type").find("input");
        input_type.change("input:text", function() {
            updateTextPref(nb_pref, input_type.val());
        });
    }

    function deletePreference(row) {
        var classes = row.attr("class").split(" ");
        const id = parseInt(classes.filter(w => w.length == 1)[0]);
        $(".preferences").find("." + id.toString()).remove();
    }

    $(document).ready(function() {
        $('.taskFormSet').formset({
            prefix: '{{ taskFormSet.prefix }}',
            formCssClass: 'dynamic-taskFormSet',           
            deleteCssClass: 'delete-row ',
            deleteText: '<i class="large material-icons">clear</i>',
            addCssClass: 'btn btn-primary btn-fab btn-round',
            added: updateDatepickers,
            removed: deletePreference,
            addText: '<i class="large material-icons">add</i>'
        });

        $('.taskFormSet').addClass("0");
        var input_type = $(".taskFormSet").find(".task_type").find("input");
        //input_type.on("input", ":text", function(){ console.log("aa"); });
        input_type.change("input:text", function() {
            updateTextPref(0, input_type.val());
        });
        
        

        var workerFormSet = $('.workerFormSet').formset({
            prefix: '{{ workerFormSet.prefix }}',
            formCssClass: 'dynamic-taskFormSet',         
            deleteCssClass: 'delete-row',
            deleteText: '<i class="large material-icons">clear</i>',
            addCssClass: 'btn btn-primary btn-fab btn-round',
            addText: '<i class="large material-icons">add</i>'
        });
        
        
        $("#id_session-session_range").daterangepicker({
            "showDropdowns": true, "minYear": 2017,
            "locale": {
                "format": "DD/MM/YYYY", "separator": " - ",
                "applyLabel": "Apply", "cancelLabel": "Cancel",
                "fromLabel": "From", "toLabel": "To",
                "customRangeLabel": "Custom", "weekLabel": "W",
                "daysOfWeek": [ "Su","Mo", "Tu", "We","Th", "Fr", "Sa" ],
                "monthNames": [ "January", "February", "March", "April","May","June", "July", "August", "September", "October", "November", "December"],
                "firstDay": 1
            }
        });

            //$("#test").datepicker();
        $(".date_time").bootstrapMaterialDatePicker({ format : 'DD/MM/YYYY HH:mm', lang : 'fr', weekStart : 1, cancelText : 'ANNULER' });
        $('.time').bootstrapMaterialDatePicker({date: false, format : 'HH:mm:ss' });

        $(".preferences").sortable();
        $(".preferences").disableSelection();
    })
</script>